.menu{
    height: 15vh;
    background-color: black;
}

.menu input{
    border-radius: 16px;
}

h3{
    font-size: 16pt;
}

#input{
    height: 32px;
}

.links-menu a{
    text-decoration: none;
    color: white;
}

.title-h3{ 
    font-size: 32pt;
    font-weight: bold;
}

.left{
    width: 30vw;
    border: 1px solid !important;
}

.right{
    width: 30vw;
    border: 1px solid !important;
}